$primary-color: #000000;
$secondary-color: #767373;
$tertiary-color: #3F3CE1;

.Feed div {
  margin-bottom: 2rem;
}

.heading {
  p {
    font-size: 28px;
    font-weight: 800;
  }

  span {
    font-size: 14px;
    font-weight: 300;
  }
}

.body {
  input {
    width: 100%;
    height: 4rem;
    border-radius: 8px;
    border: 0.2px solid $primary-color;
  }

  span {
    font-size: 12px;
    font-weight: 600;
  }

  button {
    width: 100%;
    margin-top: 1rem;
    height: 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: $secondary-color;
    color: white;
  }

  button:hover {
    background-color: $primary-color;
  }
}

.btnGroup {
  // border-bottom: .4px solid $secondary-color;

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
    width: 4rem;
    padding: .3rem;
    margin-right: 1rem;
  }
}